.loginFlash {
	width: 12.5em;
	height:2.5em;
	padding:1em;
	position: fixed;
	top: 13.5em;
	left: -1em;
	background-color: white;
    border: solid 1px #44b0f3;
    border-radius:1em;
    color: #704e3c;
    font-size: 0.75em;
}