.operatorChatBrowser {
	border: 2px solid #357;
	height: 22em;
	width: 15em;
}

.list-users {
	border: 1px solid teal;
	margin: 0.1em;
	padding: 0em;
}

.li-users{
	cursor: pointer;
	margin: 0.5em;
	border: 1px solid teal;
	box-shadow:0.2em 0.2em 0.2em #bbb;
	padding: 0.5em;
	height: 1em;
}

.li-users:HOVER{
	box-shadow:none;
}

.operatorChatArea{
	position: absolute;
	left: 27.5%;
	width: 70%;
	height:80%;
	margin:2%;
	top: 2em;
	border: 1px solid teal;
	padding: 0.1em;
	overflow:auto;
}

.operatorChatArea ul li{	
	display: inline-block;
}

.closeButton {
	position: absolute;
	border: 1px solid blue;
	width:1.01em;
	height: 1.01em;
	padding:0.05em;
	padding-left:0.4em;
	border-radius:0.35em;
	right:0.1em;
	top:0.1em;
	cursor: pointer;
	z-index: 101;
}

.ul-navbar{
	position: absolute;
	display: inline-flex;
	margin-top:-1.5em;
}

.ul-navbar li{	
	display: block;
	text-decoration: none;
	margin:1em;
	margin-top:0em;
	width: 10em;
	border: 1px solid #abe;
	cursor: pointer;
	box-shadow: 0.1em 0.1em 0.1em #8bd;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
}


.ul-navbar li:HOVER{
	background-color: #f8fbfe;
	box-shadow: 0.05em 0.05em 0.05em #8bd; 
}