body {
    background-color: #f8faff;
}

button {
    background-color: #d0e8f8;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #444;
    cursor: pointer;
    border: 1px solid #003399;
    background: -moz-linear-gradient(top, #d0e8f8 0%, #c0e8f4 40%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e8f8), color-stop(40%,#c0e8f4), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* W3C */
    
}
button:hover {
    background: -moz-linear-gradient(top, #d0e8f8 0%, #fff 40%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e8f8), color-stop(40%,#fff), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* W3C */    
}
button:active {
    background: -moz-linear-gradient(top, #b0c8d8 0%, #fff 40%, #e0f0ff 100%);
    box-shadow: 0px 0px 8px #8f8;
}
.content {
    background-color: white;
    border: 1px solid #fbfdff;
}
@media screen and (min-width: 1200px){
    .content {
        position: absolute;
        left: 100px;
        width: 1166px;
        top: 20px;
        height: 600px;
        overflow-y: auto;
    }    
}

@media screen and (min-width: 900px) and (max-width: 1199px){
    .content {
        position: absolute;
        left: 50px;
        width: 960px;
        height: 90%;        
        overflow-y: auto;
    }
}

@media screen and (max-width: 899px){
    .content {
        position: absolute;
        left: 50px;
        width: 700px;
        height: 90%;        
        overflow-y: auto;
    }    
}


.header {
    width: 95%;
    left:2.5%;
    position: absolute;
    height: 20px;
    top: 0;
}
.footer {
    width: 95%;
    left:2.5%;
    position: absolute;
    height: 20px;
    bottom: 0;
    vertical-align: bottom;
    text-align: center;
    color: #9e7e80;
    border: solid 1px antiquewhite;
}

.content-content {
    width: 95%;
    left:2.5%;
    position: absolute;
    height: 400px;
    top: 100px;   
    border: solid 1px #c9f9f9;
}

.nav-bar {
    width: 100%;
    left:0%;
    position: absolute;
    height: 40px;
    top: 60px;
    border: solid 1px blueviolet;
    display: inline;
}

.nav-button {
    display: inline-block;
    width: 120px;
    background-color: #d0e8f8;
    height: 40px;
    text-align: center;
    font-size: 1.45em;
}

.nav-button:hover {    
    background-color: #ffffff;
    cursor: pointer;
}

.nav-bar2 {
    background-color: white;
    border: 1px solid #4F5155;
    cursor: pointer;
    height: 50px;
}

.operatorChatBox{
    border-radius: 5px 5px 0 0;
    background-color: white;
    border: 1px solid #4F5155;
    position: fixed;
    width: 250px;
    bottom: 20px;
    right: 100px;
    height: 300px;
    z-index: 120;
    box-shadow: 10px 10px 5px #888888;    
}

.operatorChatBoxContent {
    position: absolute;
    width: 95%;
    left:2.5%;
    top: 35px;
    height: 85%;
    border: 1px solid #4F5155;
    overflow-y: auto;
}
.chatBox {
    border-radius: 5px 5px 0 0;
    background-color: white;
    border: 1px solid #4F5155;
    position: fixed;
    width: 250px;
    bottom: 20px;
    right: 100px;
    height: 300px;
    z-index: 120;
    box-shadow: 10px 10px 5px #888888;
}

.chatBoxDragger {
    border-radius: 5px 5px 0 0;
    position: absolute;
    width: 100%;
    top: 0;
    height: 25px;
    border: none;
    border-bottom: 1px solid #4F5155;
    background-color: #d0e8f8;
    background: -moz-linear-gradient(top, #d0e8f8 0%, #c0e8f4 40%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e8f8), color-stop(40%,#c0e8f4), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* W3C */
    cursor: move;
}

.chatContent {
    position: absolute;
    width: 95%;
    left:2.5%;
    top: 35px;
    height: 200px;
    border: 1px solid #4F5155;
    overflow-y: auto;
}

.form-chat {
    position: absolute;
    width: 95%;
    left:2.5%;
    bottom: 10px;
    height: 50px;
    border: 1px solid #4F5155;    
}