body {
    background-color: #f8faff;
}

div, ul, li{	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
button {
    background-color: #d0e8f8;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #444;
    cursor: pointer;
    border: 1px solid #003399;
    background: -moz-linear-gradient(top, #d0e8f8 0%, #c0e8f4 40%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e8f8), color-stop(40%,#c0e8f4), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d0e8f8 0%,#c0e8f4 40%,#e0f0ff 100%); /* W3C */
    
}
button:hover {
    background: -moz-linear-gradient(top, #d0e8f8 0%, #fff 40%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e8f8), color-stop(40%,#fff), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d0e8f8 0%,#fff 40%,#e0f0ff 100%); /* W3C */    
}
button:active {
    background: -moz-linear-gradient(top, #b0c8d8 0%, #fff 40%, #e0f0ff 100%);
    box-shadow: 0px 0px 8px #8f8;
}
.content {
    background-color: #fefdfc;
    border: 1px solid #fbfdff;
    box-shadow: 0.2em -0.2em 0.6em #fafaf8;
}
@media screen and (min-width: 1200px){
    .content {
        position: absolute;
        left: 100px;
        width: 1166px;
        top: 115px;
        height: 520px;
        overflow-y: auto;
    }    
}

@media screen and (min-width: 900px) and (max-width: 1199px){
    .content {
        position: absolute;
        left: 50px;
        width: 960px;
        top: 115px;
        height: 520px;       
        overflow-y: auto;
    }
}

@media screen and (max-width: 899px){
    .content {
        position: absolute;
        left: 50px;
        width: 700px;
        top: 115px;
        height: 520px;     
        overflow-y: auto;
    }    
}


.header {
    width: 100%;
    left:0%;
    position: absolute;
    height: 20px;
    top: 0;
}

.header-top {
	width: 100%;
	height: 3.5em;
    background-color: #44b0f3;    
    background: -moz-linear-gradient(top, #e1edff 0%, #deecff 40%, #ebfaff 100%);
}
.footer {
    width: 95%;
    left:2.5%;
    position: absolute;
    height: 20px;
    bottom: 0;
    vertical-align: bottom;
    text-align: center;
    color: #9e7e80;
    border: solid 1px antiquewhite;
}

.content-content {
	background-color: white;
    left:2.5%;
    right:2.5%;
    position: absolute;
    height: 30em;
    top: 0px;   
    border: solid 1px #c9f9f9;
    border-top: none;
    padding: 0.1em;
}

.nav-bar {
    padding-left: 5em;
    padding-top:0;
    right:0.1em;
    left:0.1em;
    position: absolute;
    height: 35px;
    top: 55px;
    border: solid 1px #aebcea;
    display: inline;
    background-color: #44b0f3;    
    background: -moz-linear-gradient(top, #e1edff 0%, #deecff 40%, #ebfaff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1edfa), color-stop(40%,#cedcff), color-stop(100%,#fbfaff)); /* Chrome,Safari4+ 
    /*background: -webkit-linear-gradient(top, #c1cdfa 0%,#aebcea 40%,#dbeaf9 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #c1cdfa 0%,#aebcea 40%,#dbeaf9 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #c1cdfa 0%,#aebcea 40%,#dbeaf9 100%); /* IE10+ */
    /*background: linear-gradient(to bottom, #c1cdfa 0%,#aebcea 40%,#dbeaf9 100%); /* W3C */
}

.nav-button {
    display: inline-block;
    padding-left:0.5em;
    padding-right:0.5em;
    min-width: 130px;
    background-color: #ffffff;
    height: 26px;
    text-align: center;
    font-size: 1.35em;
    margin-top:0px;
    box-shadow: 3px -3px 5px #ccc;
    margin-right: 5px;
	user-select: none;
	border: 1px solid #cedcff;
	background: -moz-linear-gradient(top, #ffffff, #cedcff);
}

.nav-button:hover {    
    background-color: #f0f8fd;
    cursor: pointer;
	background: -moz-linear-gradient(top, #ffffff, #deecff);
}

.nav-button:ACTIVE {
	background: -moz-linear-gradient(top, #cedcff, #ffffff);
}

.nav-button-selected {
    display: inline-block;
    padding-left:0.5em;
    padding-right:0.5em;
    min-width: 130px;
    background-color: #ffffff;
    height: 26px;
    text-align: center;
    font-size: 1.35em;
    box-shadow: 1px -1px 2px #eee;
    margin-right: 2px;
    cursor: pointer;
	background: -moz-linear-gradient(top, #cedcff, #ffffff);	
	border: 1px solid #cedcff;
}

.wrapper{
    width: 95%;
    left:2.5%;
    position: relative;
    height: 95%;
    top: 2.5%;
    border: solid 1px #ddcebd;  
    overflow-y: auto;
    height: 250px;
}

.chatDialog {
    position: fixed;
    width: 300px;
    height: 300px;
    left: 300px;
    bottom:1em;
    background-color: whitesmoke;
    z-index: 500;
    border: solid 1px #44b0f3;
    border-radius:0.5em;
}

.navbar2 {
	position:absolute;
	/*left: 12.35em;
	top: 5em;*/
	z-index: 100;
	background-color: white;//#bbebfd;
    border: solid 1px #44b0f3;
    border-top:none;
    padding:0.25em;
    min-width: 120px;
}

.navbar2-block {
	display: block;
	text-decoration: none;
	padding: 0.45em;
    border: solid 1px #e9fcfc;
	background-color: #ddf4fe;
    margin-top:.1em;
    margin-bottom:.3em;
    font-size: 0.83em;
}

.navbar2-block:HOVER {
	background-color: white;
}
.chatContent {
    width: 90%;
    margin-left:5%;
    margin-top: 25px;
    height: 70%;
    border: 1px solid #b3c3f5;
    overflow-y: auto;
    background-color: white;
}

.messageBlock {
    width: 95%;
    left:2.5%;
    font-size: 0.8em;
}

.messageText {
    width: 70%;
    left: 0;
}

.messageTime {
    font-size: 0.7em;
    color: #b0c8d8;
    margin-left: 50%;
}

.loginForm{
    position: absolute;
    top:2em;
    left: 2em;
    padding: 0.5em;
    width: 12em;
    height: 6em;
    border: 1px solid #d0e8f8;
}

.smallText {
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
    font-size:0.75em;
    color:#555;
    background-color: white;
    border: 1px dotted #eb9;
    margin-top: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0.2em -0.3em 0.5em #bbb;
}

.threeDText {
	font-size:0.8em;
	text-align:center;
	text-shadow: -2px 2px 4px #ffaaaa,
                 2px -2px 4px #aaffaa,
                 -3px 0px 4px #aaaaff;
}

.smallIcon {
	opacity:0.8;
	height: 1.1em;
	width: 1.1em;
	position: absolute;
	right: 0.5em;
	top:1.5em;
	padding:0.55em;
	background: -moz-linear-gradient(top, #cedcff, #ffffff);
	border-radius:0.5em;
	border: 1px solid #cedcff;
}

.smallIcon:HOVER {
	opacity:0.9;
}

.smallIcon:ACTIVE {
	opacity:1;
}

.loginBox {
	position: absolute;
	z-index: 102;
	background-color: white;
	border: 1px solid #bbb;
	width: 5em;
	height: 3em;
	top:3.7em;
	right:0;
	z-index: 104;
	padding: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.25em;
	box-shadow: 0.2em 0.3em 0.5em #bbb;
}

.buttonPrint {
	padding:1em;
    background: -moz-linear-gradient(top, #ffffff 5%, #D0E8F8 60%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#ffffff), color-stop(60%,#D0E8F8), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 5%,#D0E8F8 60%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 5%,#D0E8F8 60%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 5%,#D0E8F8 60%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 5%,#D0E8F8 60%,#e0f0ff 100%); /* W3C */	    
    border-radius: 6px;
    box-shadow: 0px 0px 5px #444;
    cursor: pointer;
    border: 1px solid #003399;
}

.buttonPrint:HOVER {
    background: -moz-linear-gradient(top, #ffffff 5%, #e0f0ff 60%, #f0f8ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#ffffff), color-stop(60%,#e0f0ff), color-stop(100%,#f0f8ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 5%,#e0f0ff 60%,#f0f8ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 5%,#e0f0ff 60%,#f0f8ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 5%,#e0f0ff 60%,#f0f8ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 5%,#e0f0ff 60%,#f0f8ff 100%); /* W3C */	  
}

.buttonPrint:ACTIVE {	
    background: -moz-linear-gradient(top, #D0E8F8 0%, #ffffff 40%, #e0f0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0E8F8), color-stop(40%,#ffffff), color-stop(100%,#e0f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #D0E8F8 0%,#ffffff 40%,#e0f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #D0E8F8 0%,#ffffff 40%,#e0f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #D0E8F8 0%,#ffffff 40%,#e0f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #D0E8F8 0%,#ffffff 40%,#e0f0ff 100%); /* W3C */
}